language: sh

os:
  - linux
  - osx

addons:
  apt:
    packages:
      - build-essential
      - git
      - mercurial
      - subversion
      - jq
      - node
      - golang
      - ruby
      - python
      - python-virtualenv

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update            ; fi

env:
  global:
    - ZSH_DIST=$HOME/.zshdist
  matrix:
    # Use _ZSH_VERSION since if ZSH_VERSION is present, travis cacher thinks it
    # is running in zsh and tries to use zsh specific functions.
    - _ZSH_VERSION=5.3.1
    - _ZSH_VERSION=5.3
    - _ZSH_VERSION=5.2
    - _ZSH_VERSION=5.1.1
    - _ZSH_VERSION=5.0.8
    - _ZSH_VERSION=5.0.2

cache:
  directories:
    - $ZSH_DIST

before_script:
  - >
    setup_zsh() {
      dest="$ZSH_DIST/$1"
      if [[ ! -d $dest/bin ]]; then
        coreutils_mktemp="mktemp"
        if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
          coreutils_mktemp="gmktemp"
        fi
        tmp="$(${coreutils_mktemp} --directory --tmpdir="${TMPDIR:/tmp}" zshbuild.XXXXXX)"
        (
          cd "$tmp" &&
          curl -L http://downloads.sourceforge.net/zsh/zsh-${1}.tar.gz | tar zx &&
          cd zsh-$1 &&
          ./configure --prefix="$dest" &&
          make &&
          mkdir -p "$dest" &&
          make install ||
          echo "Failed to build zsh-${1}!"
        )
      fi
      export PATH="$dest/bin:$PATH"
    }
  - setup_zsh $_ZSH_VERSION
  # Show the git version being used to test.
  - "git --version"
  # Show the mercurial version being used to test.
  - "hg --version"
  # Show the zsh version being used to test.
  - "zsh --version"

script:
  - test/core/prompt.spec
  - test/core/joining_segments.spec
  - test/core/color_overriding.spec
  - test/core/visual_identifier.spec
  - test/functions/utilities.spec
  - test/functions/colors.spec
  - test/functions/icons.spec
  - test/segments/anaconda.spec
  - test/segments/aws_eb_env.spec
  - test/segments/background_jobs.spec
  - test/segments/battery.spec
  - test/segments/command_execution_time.spec
  - test/segments/context.spec
  - test/segments/custom.spec
  - test/segments/detect_virt.spec
  - test/segments/dir.spec
  - test/segments/disk_usage.spec
  - test/segments/go_version.spec
  - test/segments/ip.spec
  - test/segments/load.spec
  - test/segments/node_version.spec
  - test/segments/nodeenv.spec
  - test/segments/nvm.spec
  - test/segments/php_version.spec
  - test/segments/public_ip.spec
  - test/segments/ram.spec
  - test/segments/rust_version.spec
  - test/segments/ssh.spec
  - test/segments/status.spec
  - test/segments/swap.spec
  - test/segments/swift_version.spec
  - test/segments/symfony_version.spec
  - test/segments/vcs-git.spec
  - test/segments/vcs-hg.spec
  - test/segments/vi_mode.spec
